@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


header{
    background-color: #E5E5E5;
    font-family: 'Bebas Neue', cursive;
    
}

.logo{
    color: #1886aa;
}


main{
    font-family: 'Bebas Neue', cursive;
}



.brand-name{
    font-weight: 900;
    font-size: 80px;
}

.carousel-button{
    width: 10rem;
    height: 3rem;
    padding: 2rem;
    
    

}

.price-card{
    margin-top:10rem;
}


.hot{
    background-color: red;
  margin-left: 224px;
  width: 24px;
  height: 14px;
}

.hot-card{
    border-radius: 10px;
}

