@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}


header{
    background-color: #E5E5E5;
}

nav a{
    font-size: 48px;
    font-weight: 900;
}